extends layout

block content

  div(id="container")
    div(id="progressBar")
      div
    img(src='images/hack24logo.png' id='titleimg')
    div(id="scores")
      scoreText Team One:
        div(id="scoreOne")
      scoreText Team Two:
        div(id="scoreTwo")
      scoreText Team Three:
        div(id="scoreThree")
      scoreText Team Four:
        div(id="scoreFour")
  div(id="number")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='javascripts/index.js')
