extends layout

block content
  img(src='images/hack24logo.png' id='titleimg')
  div(id="progressBar")
    div

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='javascripts/index.js')
