body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
  width: 80%;
  padding: 10px;
}

scoreText {
  font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
  margin-top: 10%;
  overflow:auto;
}

#scores {
  float:right;
  width: 50%;
}

#titleimg {
  float:right;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#progressBar {
  float:left;
  margin: auto;
  width: 40%;
  height: 500px;
  border: 10px solid green;
  background-color: #cc0000;
}

#progressBar div {
  height: 0%;
  color: #fff;
  text-align: center;
  line-height: 500px; /* same as #progressBar height if we want text middle aligned */
  width: 100%;
  background-color: #292929;
}

#number {
  font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  float:left;
  width: 40%;
  height: 0%;
  color: #000;
  text-align: center;
}
